@{
    ViewBag.Title = "Massage";
}

<h2>Massage</h2>

<table class="table table-bordered">

    <tr>
        <td>
            Вакцина против:
        </td>
        <td>
            Стоимость услуги
        </td>
    </tr>
    <tr>
        <td>
            Грипп
        </td>
        <td>
            40250
        </td>
    </tr>
    <tr>
        <td>
            Клещевой энцефалит
        </td>
        <td>
            74850
        </td>
    </tr>
    <tr>
        <td>
            Корь
        </td>
        <td>
            34100
        </td>
    </tr>

</table>
