@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>Наши контакты</h1>
    <h2>Учреждение здравоохранения: "Свислочская центральная районная больница"</h2>
</hgroup>

<section >
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span>8-01513-33557</span>
    </p>
    <p>
        <span>Факс: 8-01513-33557</span>
    </p>
    

</section>

<section >
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:svis@tut.by">svis@tut.by</a></span>
    </p>
</section>

<section>
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        231960<br/>
        Гродненская область<br />
        г.Свислочь, ул.17 Сентября, 3<br />
        ОКПО:02015388
    </p>
</section>
<section>
    <p>Головная организация:</p>
    <p>Управление здравоохранения Гродненского облисполкома</p>
</section>
<h3>Схема проезда:</h3>
<img src="~/Images/maphosp.jpg">
