@{
    ViewBag.Title = "Services";
}

<h2 style="text-align:center"   >Платные услуг для граждан РБ</h2>

<center><div style="width:600px;">
@*<table class="table" align="center"  >
    
    <tr>
        <td ><img src="~/Images/massage.jpg"></td>
        <td ><strong>Массаж</strong></td>
    </tr>
    <tr>
        <td> <img src="~/Images/research.jpg"> </td>
        <td>Исследования</td>
    </tr>
    <tr>
        <td><img src="~/Images/consultation.jpg">  </td>
        <td>Консультации врачей-специалистов</td>
    </tr>
    <tr>
        <td><img src="~/Images/proph.jpg"></td>
        <td>Проофосмотры</td>
    </tr>
    <tr>
        <td><img src="~/Images/service.jpg"></td>
        <td>Сервисные услуги</td>
    </tr>
    <tr>
        <td><img src="~/Images/eye.jpg"></td>
        <td>Иммунизация</td>
    </tr>
    <tr>
        <td><img src="~/Images/surgery.jpg"></td>
        <td>Нетрадиционные методы лечения</td>
    </tr>
</table>*@
   

     <table>
        <tr height="50%">
            <td width="33%">
                <div class="thumbnail">
                     <h3><center>Массаж</center></h3>
                    <img src="~/Images/massage.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Article/Article/4" class="btn btn-success" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>
            </td>
            <td width="33%">
                <div class="thumbnail">
                     <h3><center>Исследования</center></h3>
                    <img src="~/Images/research.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Article/Article/4" class="btn btn-success" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>

            </td>
            <td width="33%">
                <div class="thumbnail">
                     <h3><center>Консультации специалистов</center></h3>
                    <img src="~/Images/consultation.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Article/Article/4" class="btn btn-success" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>
            </td>

        </tr>
        <tr>
            
            <td>
                <div class="thumbnail">
                     <h3><center>Профосмотры</center></h3>
                    <img src="~/Images/proph.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Article/Article/4" class="btn btn-success" role="button" >Цены</a> 
                        </center></p>
                    </div>
                </div>
            </td>
            <td>
                
                <div class="thumbnail">
                     <h3><center>Сервисные услуги</center></h3>
                    <img src="~/Images/fitoterapy.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Article/Article/4" class="btn btn-success" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>
                    
            </td>
            <td>
                <div class="thumbnail">
                     <h3><center>Иммунизация</center></h3>
                    <img src="~/Images/vakcina.jpg"  alt="...">
                    <div class="caption">
                        <p><center>
                            <a href="~/Article/Article/4" class="btn btn-success" role="button">Цены</a> 
                        </center></p>
                    </div>
                </div>
            </td>
        </tr>


    </table>
</div></center>


