@{
    ViewBag.Title = "Services";
}

<h2 style="text-align:center">Прейскурант платных услуг для граждан РБ</h2>

<center><div style="width:500px;">
<table class="table" align="center"  >
    
    <tr>
        <td ><img src="~/Images/massage.jpg"></td>
        <td ><strong>Массаж</strong></td>
    </tr>
    <tr>
        <td> <img src="~/Images/research.jpg"> </td>
        <td>Исследования</td>
    </tr>
    <tr>
        <td><img src="~/Images/consultation.jpg">  </td>
        <td>Консультации врачей-специалистов</td>
    </tr>
    <tr>
        <td><img src="~/Images/proph.jpg"></td>
        <td>Проофосмотры</td>
    </tr>
    <tr>
        <td><img src="~/Images/service.jpg"></td>
        <td>Сервисные услуги</td>
    </tr>
    <tr>
        <td><img src="~/Images/eye.jpg"></td>
        <td>Иммунизация</td>
    </tr>
    <tr>
        <td><img src="~/Images/surgery.jpg"></td>
        <td>Нетрадиционные методы лечения</td>
    </tr>
</table>

</div></center>
